{
  "extends": "airbnb",
  "plugins": [
    "jest"
  ],
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["error", 80],
    "no-mixed-operators": 0,
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": 0,
    "import/prefer-default-export": 0,
    "no-shadow": 0,
    "jsx-a11y/href-no-hash": 0
  },
  "env": {
    "jest": true
  },
  "globals": {
    "Response": "true",
    "fetch": "true",
  }
}
